.main {
  text-align: center;
  padding: 5%;
  strong {
    font-size: 200%;
  }
}
.top-right {
  text-align: right;
}

.border {
  border-bottom: 0.2px black solid;
  padding: 5%;
}

.logs-box {
  width: 60%;
}

.projectLogs {
  border-bottom: 2px black solid;
  color: black;
}
